# Rotriever files
rotriever.lock
Packages/*
!Packages/.robloxrc

# Test places and build artifacts
/*.rbxlx
/*.rbxl
/*.rbxmx
/*.rbxm

# LuaCov reports
/luacov.*

# MkDocs build output
/site

# Cargo build output
/target

# MacOS files
**/.DS_Store

# Docusaurus files
/docs/.docusaurus
/docs/build
/docs/node_modules
/docs/yarn.lock

# Selene
roblox.toml

# Editor files
.idea